@font-face {
    font-family: "Fira Sans";
    src: url('https://mozilla.github.io/Fira/woff2/FiraSans-Regular.woff2');
}

body {
    padding: 2em 0;
    font-family: "Fira Sans";
    font-size: 18px;
    color: #241019;
    background-color: #e6e2f1;
}

#main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    margin: 4px auto;
}

.sidebar {
    width: 14em;
    padding-right: 1em;
    border-right: 2px solid black;
    text-align: right;
}

.sidebar-inner {
    top: 0;
    padding-top: 0.5em;
    position: sticky;
}

.content {
    // 40 by default, smaller if viewport needs it
    width: 40rem;
    max-width: 40rem;
    margin-left: 2em;
    padding-top: 0.5em;
}

.post-preview-meta {
    margin-bottom: 0.5rem;
}

.post-preview-title {
    margin-bottom: 0.5rem;
}

.post-preview-meta-misc {
    color: #444;
}

.post-preview-summary {
    margin: 0;
}

a:link {
    color: #c92463;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #c92463;
}

.anchor-link {
    position: absolute;
    // looks weird on 1em ???
    margin-left: -0.9em;
}

.footnote-definition {
    font-size: 14px;
}

.footnote-definition-label {
    float: left;
    margin-right: 1em;
}

.quote {
    margin-left: 2rem;
}

.quote-text {
    margin-bottom: 0.25rem;
}

.quote-author {
    margin-left: 0;
    font-size: 16px;
    font-style: italic;
    color: #666;
}

// guaranteed to look good on firefox on galaxy s9
@media (max-width: 600px) {
    body {
        padding: initial;
        margin: 1rem;
    }

    #main {
        flex-direction: column;
    }

    .sidebar {
        border-right: none;
        padding-right: 0.5rem;
        margin-left: auto;
    }

    .content {
        width: 100%;
        margin: initial;
    }

    .anchor-link {
        position: initial;
        margin-left: initial;
    }
}
