{% extends "base.html" %}
{% block content %}
    <h1>Posts</h1>
    {% for post in paginator.pages %}
    <div class="post-preview">
        <div class="post-preview-meta">
            <a href="{{ post.permalink | safe }}">
                <h2 class="post-preview-title">{{ post.title }}</h2>
            </a>
            <span class="post-preview-meta-misc">
                {{ post.reading_time }} minute read | {{ post.date }}
            </span>
        </div>
        <p class="post-preview-summary">{{ post.summary | striptags }}</p>
    </div>
    {% endfor %}
{% endblock content%}
